<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="saitinjs.js"></script>
<link rel="stylesheet" href="saitincss.css">

<title>Prediction Scoring</title>

</head>

<body>

<div class="banner1">
	<div class="container" id="pääNav">
		<h1 id="pääTitle">Ennustusapp</h1>
		<ul>
			<li><a href="tti.html"> Main </a></li>
			<li><a href="predictionsPage.html"> Predictions </a></li>
			<li><a href="scoreboard.html">Scoreboard</a></li>
			<li><a href="adminPage.html">Admin</a></li>
		</ul>
	</div>
</div>


<div class="belowbanner">
	<div class="container">
		<div class="text">
			<p>Welcome to prediction app!</p>
			<p>The app is used to predict outcomes of various events.
			Users give their probability estimates and the results are scored with Brier scores.
			</p>
		</div>
		<div class="newestPrediction">
			<p> tekstiä </p>
		</div>
	</div>
</div>

{{> footer}}


</body>
</html>
